.actions-menu-wrapper {
  display: block;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: inline;
    }

    img {
      margin: 50px 25px;
      height: 100px;
      cursor: pointer;
    }
  }
}