.paper {
  position: relative;
  padding: 20px;
  text-align: center;
  height: 90%;
}

.dialog {
  max-width: inherit;

  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 768px) /*, screen and (max-height: 700px)*/
{
  .dialog {
    width: 100%;
    height: 100%;
  }
}